In [8]:
import pandas as pd
import os

In [3]:
df = pd.read_csv("3_final_database/SIM_CONSOLID.csv")
df

,DTOBITO,DTOBITO_MES,DTOBITO_ANO,IDADE,SEXO,RACACOR,ESTCIV,ESC,OCUP,CODMUNRES,...,DTINVESTIG,CAUSABAS_O,FONTEINV,CB_PRE,TPOBITOCOR,ORIGEM,ESCMAE2010,SEMAGESTAC,TPMORTEOCO,ATESTADO
0,1042000,4.0,2000,303.0,1,NaN,NaN,NaN,NaN,3147402,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,17022000,2.0,2000,302.0,2,4.0,NaN,NaN,NaN,3122454,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4092000,9.0,2000,483.0,1,1.0,2.0,9.0,700.0,3124302,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2042000,4.0,2000,447.0,1,4.0,2.0,1.0,62100.0,3100000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,31122000,12.0,2000,486.0,2,4.0,3.0,3.0,800.0,3169356,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124131,13122019,12.0,2019,461.0,1,1.0,3.0,3.0,622020.0,315270,...,NaN,J189,NaN,NaN,NaN,1.0,NaN,NaN,NaN,A419/J189
124132,31122019,12.0,2019,495.0,2,1.0,3.0,9.0,999992.0,314710,...,NaN,J189,NaN,NaN,NaN,1.0,NaN,NaN,NaN,J960/A419/J189
124133,26122019,12.0,2019,485.0,1,2.0,2.0,2.0,111415.0,313670,...,NaN,J159,NaN,NaN,NaN,1.0,NaN,NaN,NaN,J159/A419
124134,22122019,12.0,2019,460.0,2,1.0,NaN,NaN,NaN,313670,...,NaN,J180,NaN,NaN,NaN,1.0,NaN,NaN,8.0,/A419 J984/J180*N179
124135,16102019,10.0,2019,488.0,2,1.0,3.0,2.0,999992.0,316690,...,NaN,J189,NaN,NaN,NaN,1.0,NaN,NaN,NaN,R688/A419/J189

In [4]:
def calc_freq(value, sum_):
    return value / sum_

In [6]:
colunas_analise = ["LINHAA", "LINHAB", "LINHAC", "LINHAD", "LINHAII"]
freq_df = []

In [9]:
for col in colunas_analise:
    print(f"Processing col: {col}")
    t = pd.crosstab(index=df[col], columns="count")
    t.reset_index(level=0, inplace=True)
    t = pd.DataFrame(t, columns=[col, "count"])
    sum_ = sum(t["count"].astype(int))
    t[f"FREQ_{col}_ABS"] = t["count"].apply(calc_freq, sum_=df.shape[0])
    t[f"FREQ_{col}_REL"] = t["count"].apply(calc_freq, sum_=sum_)
    t = t.rename(columns={"count": f"COUNT_{col}"}, errors="raise")
    
    out_dir = os.path.join(".", "freqs", f"FREQ_{col}.csv")
    t.to_csv(out_dir, index=False)

Processing col: LINHAA
Processing col: LINHAB
Processing col: LINHAC
Processing col: LINHAD
Processing col: LINHAII